:root {
  --primary: #ffd700;
  --secondary: #333333;
  --text: #ffffff;
}

.pending-challenges {
  background: rgba(0, 0, 0, 0.3);
  padding: 25px;
  border-radius: 15px;
  margin-top: 40px;
  backdrop-filter: blur(5px);
}

.pending-challenges h2 {
  color: var(--text);
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.pending-challenges-grid {
  display: flex;
  gap: 20px;
}

.pending-challenges p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .pending-challenges-grid {
    grid-template-columns: 1fr;
  }
}

.modal-overlay-peding-challenges {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-peding-challenges {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: modalOpen 0.3s ease-out;
}

.modal-peding-challenges p {
  color: black;
}

@keyframes modalOpen {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-button-peding-challenges {
  background-color: #ffb84d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.modal-button-peding-challenges:hover {
  background-color: #ff9933;
  transform: translateY(-2px);
}
